Dockerfile
.dockerignore
.next
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.development.local
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage
.nyc_output
.cache
.parcel-cache
.DS_Store
*.tgz
*.tar.gz