.containerAuth {
    background-color: #0f0f0f;
    padding-right: 10vw;
    padding-left: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
}

.popup {
    background-color: rgba(0, 0, 0, 0.14);
    height: 650px;
    width: 400px;
    border-radius: 20px;
    border-color: #4d4d4d;
    border-width: 1px;
}
.logoContainer {
    height: 25vw;
    width: 25vw;
}
